@import "./colors";

.layout-container {
  max-width: 1000px;
  margin: auto;
  margin-top: 10vh;
}

.nav {
  background: $main;
  width: 100vw;
}
.nav-light {
  background: $second;
}
.layout-ul {
  width: 75%;
  display: flex;
  margin: 0;
  list-style-type: none;
  padding: 0 16px 0 0;
  height: 5rem;
  justify-content: flex-end;
  align-items: center;
  & li {
    min-width: 102px;
    margin: 0 6px 0 6px;
  }
  .layout-a {
    font-weight: 300;
    color: $second;
    text-decoration: none;
    &:hover {
      color: $white;
    }
  }
  .layout-a-light {
    color: $main;
    &:hover {
      color: darken($main, 15%);
    }
  }
}

@media (max-width: 460px) {
  .layout-ul {
    padding: 0;
    & li {
      min-width: 75px;
    }
  }

  .layout-a {
    font-size: 0.9rem;
  }
}
.layout-logo {
  display: block;
  float: left;
  padding: 14px;
  cursor: pointer;
}
.layout-ul li {
  display: block;
  float: right;
}
.rotateLogo {
  animation: rotate 0.3s linear forwards;
}
@keyframes rotate {
  100% {
    transform: rotate(-180deg);
  }
}

footer {
  margin-top: 10vh;
  background: $main;
  color: $second;
  width: 100vw;
  height: 48px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: 400;
}
.layout-footer-a {
  color: $second;
  text-decoration: none;
  &:visited,
  :focus,
  :active {
    color: $second;
  }
  &:hover {
    color: $white;
  }
}
.layout-footer-light {
  background: $second;
  color: $main;
}
.layout-footer-a-light strong {
  color: $main;
  &:hover {
    color: darken($main, 15%);
  }
}
.layout-footer-span {
  margin-right: 64px;
}
main {
  min-height: 60vh;
}
