@import "./colors.scss";

.repos-list-ul {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  list-style-type: none;
}
.repos-list-title {
  margin: 24px 16px 8px 16px;
}
.repos-title-container {
  min-height: 96px;
  margin: -24px 0 24px 0;
}
.repos-list-li {
  padding-left: 24px;
  height: 2rem;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}
.repos-list-li:nth-child(odd) {
  background: $accidental;
}
.repos-list-a {
  color: lighten($black, 50%);
  text-decoration: none;
  &:hover {
    color: $black;
  }
}
a:visited,
a:active,
a:focus {
  color: $black;
}
.repos-list-commit-li:nth-child(even) {
  background: darken($second,5%);
  min-width: 280px;
}
.repos-list-sub-ul {
  margin: 12px 0 12px 0;
}