@import "./colors";

.searchbar-input {
  min-width: 320px;
  margin: 24px 16px 8px 16px;
}
input[type="search"],
input[type="submit"] {
  height: 1.5rem;
}
input[type="search"] {
  border-radius: 5px 0 0 5px;
  padding: 5px;
  border: 2px solid $accidental;
  &:focus {
    border-color: $accidental;
  }
}
input[type="submit"] {
  font-weight: 600;
  border-radius: 0 5px 5px 0;
  padding: 3px 35px;
  background: $main;
  border: 0 none;
  cursor: pointer;
  margin-top: 16px;
  &:hover {
    background-color: darken($main, 10%);
    color: lighten($second, 20%);
  }
}
.searchbar-input-container {
  width: 280px;
}
label {
  display: flex;
  width: 280px;
  flex-wrap: wrap;
}