nav {
  background: #0066ff;
}
.layout-ul {
  list-style-type: none;
  display: flex;
  width: 100%;
  height: 4rem;
  justify-content: flex-end;
  align-items: center;
  li {
    display: flex;
    width: 10%;
    min-width: 110px;
    margin: 0 6px 0 6px;
  }
  .layout-a {
    color: #f2f2f2;
    text-decoration: none;
    &:hover {
        color: white;
    }
  }
}
