@import './error-handler';
@import './factorial';
@import './layout';
@import './repos-list';
@import './searchbar';

section, article {
    margin: 4px 8x 4px 8px;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 40px;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }