.repos-list-ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  list-style-type: none;
  height: 20vh;
}
.repos-list-li {
  height: 2rem;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}
.repos-list-a {
    text-decoration: none;
    &:hover {
        color: #003d99;
    }
}
a:visited, a:active, a:focus {
    color: #002966;
}

